@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: white;
  overflow: hidden;
}

.shap_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.shap_img img {
  width: 100%;
  height: 100%;
}

.form_payment {
  max-width: 1200px;
  width: 100%;
  margin: 0 10px;
  position: relative;
  z-index: 10;
}
.form_payment .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_payment .line .form_inputs {
  width: 40%;
}
.form_payment .line .form_inputs {
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: white;
}
.form_payment .line .form_inputs form .title {
  text-align: center;
  font-size: 35px;
  font-family: 600;
  margin-bottom: 50px;
}
.form_payment .line .form_inputs form .error {
  font-size: 13px;
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
.form_payment .line .form_inputs form .input_item:not(:last-child) {
  margin-bottom: 15px;
}
.form_payment .line .form_inputs form .input_item label {
  display: block;
  color: rgb(109, 109, 109);
  font-weight: 600;
}
.form_payment .line .form_inputs form .input_item input,
.form_payment .line .form_inputs form .input_item select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(212, 212, 212);
  background-color: transparent;
}
.form_payment .line .form_inputs form .input_user,
.form_payment .line .form_inputs form .input_one_user {
  display: none;
}
.form_payment .line .form_inputs form .input_user.active,
.form_payment .line .form_inputs form .input_one_user.active {
  display: block;
}
.form_payment .line .form_inputs form .more_details {
  display: none;
}
.form_payment .line .form_inputs form .more_details.active {
  display: block;
}
.form_payment .line .form_inputs form .more_details .inputs_radios_type,
.form_payment .line .form_inputs form .more_details .inputs_radios_method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin: 10px 0;
}
.form_payment .line .form_inputs form .more_details .inputs_radios_type .input_radio_type,
.form_payment .line .form_inputs form .more_details .inputs_radios_type .input_radio_method,
.form_payment .line .form_inputs form .more_details .inputs_radios_method .input_radio_type,
.form_payment .line .form_inputs form .more_details .inputs_radios_method .input_radio_method {
  color: rgb(107, 107, 107);
}
.form_payment .line .form_inputs form .more_details .input_cash {
  display: none;
}
.form_payment .line .form_inputs form .more_details .input_cash.active {
  display: block;
}
.form_payment .line .form_inputs form .btn_check,
.form_payment .line .form_inputs form .btn_pay {
  background-color: #5842bc;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 50px;
  width: 100%;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
.form_payment .line .form_inputs form .btn_check.remove {
  display: none;
}
.form_payment .line .form_inputs form .btn_pay {
  display: none;
}
.form_payment .line .form_inputs form .btn_pay.active {
  display: block;
}
.form_payment .line .form_img {
  height: 630px;
  width: 60%;
  position: relative;
}
.form_payment .line .form_img .logo img {
  width: 200px;
}
.form_payment .line .form_img .text {
  margin-top: 80px;
}
.form_payment .line .form_img .text .title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.form_payment .line .form_img .text .desc {
  font-size: 18px;
}
.form_payment .line .form_img .bg_rocket {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: none;
}
.form_payment .line .form_img .bg_rocket img {
  width: 100%;
}
.form_payment .lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}
.form_payment .lines .line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(86, 86, 86, 0.1);
  overflow: hidden;
}
.form_payment .lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #5842bc;
  -webkit-animation: moveLeftBounces-one 15s linear infinite;
          animation: moveLeftBounces-one 15s linear infinite;
  border-radius: 50px;
}
.form_payment .lines .line:nth-child(1) {
  margin-left: -25%;
}
.form_payment .lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.form_payment .lines .line:nth-child(3) {
  margin-left: 25%;
}
.form_payment .lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@media (max-width: 600px) {
  .form_payment {
    margin: 40px 10px;
    position: unset;
  }
  .form_payment .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_payment .line .form_img,
.form_payment .line .form_inputs {
    width: 100%;
  }
  .form_payment .line .form_inputs {
    padding: 15px 15px;
  }
  .form_payment .line .form_inputs form .title {
    font-size: 24px;
    font-family: 600;
    margin-bottom: 20px;
  }
  .form_payment .line .form_inputs form .input_item:not(:last-child) {
    margin-bottom: 7px;
  }
  .form_payment .line .form_inputs form .input_item label {
    font-size: 14px;
  }
  .form_payment .line .form_inputs form .input_item input,
.form_payment .line .form_inputs form .input_item select {
    padding: 8px;
    font-size: 12px;
    outline: none;
    border: none;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 6px;
    margin-top: 5px;
  }
  .form_payment .line .form_inputs form .more_details .inputs_radios_type,
.form_payment .line .form_inputs form .more_details .inputs_radios_method {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    margin: 5px 0;
  }
  .form_payment .line .form_inputs form .more_details .inputs_radios_type label,
.form_payment .line .form_inputs form .more_details .inputs_radios_method label {
    font-size: 14px;
  }
  .form_payment .line .form_inputs form .btn_check,
.form_payment .line .form_inputs form .btn_pay {
    padding: 6px 30px;
    margin-top: 10px;
  }
  .form_payment .line .form_img {
    padding: 10px;
    height: auto;
    position: unset;
  }
  .form_payment .line .form_img .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 25px;
    left: 10px;
  }
  .form_payment .line .form_img .text {
    display: none;
  }
  .form_payment .line .form_img .bg_rocket {
    bottom: auto;
    top: 110px;
    -webkit-animation: move-up 6s ease infinite;
            animation: move-up 6s ease infinite;
  }
  .form_payment .line .form_img .bg_rocket img {
    width: 60%;
  }
}
.copy_right {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: gray;
  font-size: 15px;
  direction: ltr;
}
.copy_right a {
  color: #5842bc;
}

@media (max-width: 768px) {
  .copy_right {
    font-size: 11px;
    width: 100%;
    text-align: center;
  }
}
.popup_loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.602);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  display: none;
}
.popup_loading.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup_loading p {
  font-size: 18px;
  color: white;
}
.popup_loading .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.popup_loading .lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite forwards;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite forwards;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}
.popup_loading .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.popup_loading .lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}
.popup_loading .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.popup_loading .lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}
.popup_loading .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.popup_loading .lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}
.popup_loading .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.popup_loading .lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}
.popup_loading .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.popup_loading .lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}
.popup_loading .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.popup_loading .lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}
.popup_loading .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.popup_loading .lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}
.popup_loading .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.popup_loading .lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}
.popup_loading .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes move-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes moveLeftBounces-one {
  0% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes moveLeftBounces-one {
  0% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}